* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
}

.video {
  background-size: cover;
  width: 60%;
  height: 100%; 
  object-fit: cover;
  position: fixed;
  left: 1;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  
}


.main-text {
  padding: 30px;
  color: whitesmoke;
  background-color: rgba(7, 7, 7, 0);
  
  max-width: 100%;
  max-height: 100%;
  

  display: flex;
  flex-direction: column;
  
  
  text-decoration: none;
}

h1 {
  padding:45px;
  display: flex;
  font-size: 40px;
}

.text {
  padding: 15px;
  width: 650px;

  font-size: 20px;

  transition: 0.3s ease-in-out;
}

.text:hover {
  transform: scale(1.05);
}

.social-links a {
  color: aliceblue;
  display: flex;
  font-size: 80px;

  padding: 5px;

  border-radius: 50%;
}

.menu-lateral {
  background-color: rgba(2, 2, 2, 0.897);
  position: fixed;
  top: 0px;
  right: 0;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  gap: 20px;
}

.menu-lateral a {
  color: aliceblue;
  font-size: 40px;
  transition: 0.2s;
  
}

#button-toggle ,img{
  width: 50px;
  background: none;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  
  
}

#linkedin:hover {
  transform: scale(1.3);
  color: #005194;
}

#github:hover {
  transform: scale(1.3);
  color: #a14af3;
}

#whatsapp:hover {
  transform: scale(1.3);
  color: #25d366;
}
.button-img:hover {
  transform: scale(1.3);
  background-color: rgb(0, 0, 0);
  background: none;
}
